*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
    /*Setter maks skjermbredde til 1600px*/
    max-width: 1600px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: repeat(3, auto);
    
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

/*Generelle fontstørrelseregler for mobil-versjonen*/
h1{
    font-size: 8vw;
}
h2{
    font-size: 6vw;
}
h3{
    font-size: 5vw;
}
p{
    font-size: 4vw;
}

/*Effekter til interaktive knapper:*/
/*Klasse for gul hover-knapp*/
.yellow-button{
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: #e6bd43;
    font-weight: bold;
    border: 0;

}
/*Klasse for gul knapp når man hovrer */
.yellow-button:hover{
    background-color: #000000;
    color: #e6bd43;
    transition: 0.3s;
}

/*Kode for gul strek og bold skrift under aktivt menypunkt (Koden hentet fra ChatGpt.com) */
header nav ul li a.active{
    font-weight: bold;
}

header nav ul li a.active::after {
    content: "";
    display: block;
    height: 2px; 
    background-color: #e6bd43;
}


/*Forside Mobil Start */
header nav{
    display: flex;
    align-items: center;
    flex-direction: column;
}

header nav img{
    width: 75px;
}

header nav ul{
    display:flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
    text-align: center;

}

nav ul li a{
    color: black;
    text-decoration: none;
}


#home-headline-section{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    text-align: center;
    position: relative;
    /*bildet under er hentet fra [pixabay.com] URL( https://pixabay.com/no/photos/penn-notisbok-notisblokk-dagbok-4337521/)*/
    background-image:url('..img/pen-4337521_1280.jpg..');
    background-size: cover;
    background-position: center;
    background-color: #c4bbb0;
    background-blend-mode: lighten;
}
#home-headline-section h1 {
    margin: 10px;
}

#index-Backgroud-video {
    display: none;
}

#home-main-section-1 {
    margin: 0 auto; 
    text-align: center;
    padding: 2.5rem;
}

#home-main-section-2 {
    display: flex;
    flex-direction: column;
    background-color: #e6bd43;
    align-items: center;
    padding: 2rem;
}

#home-main-section-2 img {
    padding: 1.5rem;
}

#home-main-section-2 article {
    width: 50%
}

#home-main-section-2 article a {
    text-decoration: none;
    padding: 1rem;
    border: 2px;
    border-style: solid;
}
#read-more-aboutus{
    display: inline-block;
}

#home-main-section-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

#home-main-section-3 h2 {
    padding: 2rem;
}

/*Klassen "our-services-section brukes også på about-siden*/ 
.our-services-section {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    gap: 1.5rem;
}
.our-services-section article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.our-services-section i {
    font-size: 3rem;
}

#home-main-section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #80808029;

}

#home-main-section-4 form{
    text-align: center;
}

#home-main-section-4 label{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding-bottom: 2rem;
}

#home-main-section-4 form input { 
    height: 2.5rem;
}

footer nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #252525;
    height: 100%;
    padding: 2rem;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
}

footer nav img {
    width: 75px;
}
footer p {
    color: white;
}

footer ul li i{
    color: white;
    font-size: 3rem;

}

/*Forside mobil slutt */

/*Portfolioside Mobil start */

#product-main{
    margin-left: 2rem;
    margin-right: 2rem;
}

#products-headline-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #c4bbbbb0;
    background-image: url('../img/pen-4337521_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;

}
/*Klasse for gul strek tildelt seksjons-headinger på portfolioside*/
.bottom-border {
    border-bottom: 4px solid #e6bd43;
    padding-bottom: 8px;

}

#products-main-section-1 {
    text-align: left;
}

#products-main-section-1 h2 {
    padding-bottom: 10px;
}


#products-main-section-1 a {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
}

#products-main-section-1 a {
    border: 2px solid #000000; 
}

.product-navigation-button {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: bold;
    border: 0;
}

/*Hovrings-effekt for arikelkort-lenkene*/
.product-navigation-button:hover {
    background-color: #000000;
    color: #e6bd43;
    transition: 0.3s;
}

/*Kode hentet via fra [chatGpt] URL(chatGpt.com) */
.article-card-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article-card-section article {
    flex-grow: 1;
    max-width: 692px;
    margin: 10px;
}

.article-card-section img {
    width: 100%;
}

.product-article-card {
    transition: transform 0.5s ease-in-out; /* Legg til overgangseffekt på transformasjonen */
}

.product-article-card:hover {
    transform: scale(1.05); /* Øk størrelsen med 10% ved hover */
}

/*Portfolioside Mobil slutt */
  

/* Aboutside Mobil start */

#about-main-section-1{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url('../img/pen-4337521_1280.jpg');
    background-size: cover;
    justify-content: center;

}
#about-main-section-1 article{
    width: 70%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #f4efefd1;
}
#about-main-section-1 h2{
    font-size: 6vw;
}

#about-main-section-2{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}
#about-main-section-2 h2{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
#about-main-section-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    background-color: #e6bd43;
    padding-bottom: 2.5rem;
    width: 100%;
    text-align: center;
}

#about-main-section-3 h2{
    width: 100%;
}

#about-main-section-4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4rem;
    background-color: rgba(237, 233, 233, 0.884);
}
#about-main-section-4 h2{
    width: 100%;
    text-align: center;
}
#about-main-section-4 article{
    width: 100%;
    padding: 2rem;
}
#about-main-section-4 article form input{
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    height: 2.5rem;
}
#input-box{
    display: flex;
    flex-direction: column;
}

#about-main-section-4 ul {
    list-style: none;
    padding: 0;
}

#about-main-section-4 ul li {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

#about-main-section-4 ul li i {
    margin-right: 1rem;
}

/*CSS-kode for kartet*/
iframe{
    width: 100%;
}


@media only screen and (min-width: 600px){
    /*Generelle regler for skjermbredder fra 600px- 1600px*/

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "header header header"
            "main main main"
            "footer footer footer";
        grid-template-rows: repeat(3, auto);
    }

    header {
        grid-area: header;
    }

    header nav img{
        width: 90px;
    }
    
    main {
        grid-area: main;
    }

    footer{
        grid-area: footer;
    }

    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 1.6rem;
    }
    p{
        font-size: 1rem;
    }

    header nav{
        flex-direction: row;
        justify-content: space-between;
    }
    
    header nav ul{
        gap: 30px;
        flex-direction: row;
    
    }
    /*Forside desktop start*/

    #home-headline-section{
        padding: 1rem;
        background-image:none;
        background-color: transparent;
        height: 350px;
        justify-content: center;
    }
    #home-headline-section p{
        width: 60%;
    }
    /*Video er et A-krav, men ønsket å utfordre meg selv*/

    #index-Backgroud-video{
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.4;
    }

    #index-Backgroud-video{
        display: block;
    }
    
    #home-main-section-1{
        width: 60%; 
    }

    #home-main-section-1 h3{
        font-size: 1.5rem;
    }

    #home-main-section-2{
        flex-direction: row;
    }

    #home-main-section-2 img{
        padding: 0;
    }

    #home-main-section-2 article{
        padding-bottom: 7rem;
        margin-left: 2rem;
    }
    /*Koden for our-services-seksjonen finnes på linje 154-166*/     
    .our-services-section{
        flex-direction: row;
    }

    #home-section-4 form input{
        height: 2.5rem;
    }

    footer nav{
        flex-direction: row;
    }

    footer nav img {
        width: 90px;
    }
    /*Forside desktop slutt /*

    
    /*Portfolioside desktop start */  

    #product-section-2 hr{
        border: 0;
        height: 3px;
        background-color: #e6bd43;
        margin-bottom: 35px;
    }
    
    /*Portfolioside desktop slutt */
      

    /* Aboutside deksktop start */
    
    #about-main-section-1{
        justify-content: flex-end;
    
    }

    #about-main-section-1 article{
        width: 40%;
        padding: 1.5rem;
        margin-right: 3rem;
    }

    #about-main-section-1 h2{
        font-size: 2vw;
    }

    #about-main-section-1 a{
        width: 50%;
        text-align: center;
    }
    
    #about-main-section-4{
        flex-direction: row;
    }
    #about-main-section-4 article{
        width: 40%;
        padding: 0;
    }
    #about-main-section-4 article form input{
        height: 2.5rem;
    }
    #message-box{
        display: flex;
        flex-direction: column;
    }
    #full-row{
        margin-bottom: 0.5rem;
    }

    #about-main-section-4 ul li i {
        font-size: 25px;
        margin-right: 1.5rem;
    }
    
    iframe{
        width: 100%;
    }
    
    }
