*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
    max-width: 1600px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "topp" "mainarea" "bunn";
    grid-template-rows: repeat(3, auto);
    
}

header{
    grid-area: topp;
}

main{
    grid-area: mainarea;
}

footer{
    grid-area: bunn;
}

/*Generelle fontstørrelseregler for mobil-versjonen*/
h1{
    font-size: 8vw;
}
h2{
    font-size: 6vw;
}
h3{
    font-size: 5vw;
}
p{
    font-size: 4vw;
}
/*Klasse for gul hover-knapp*/
.yellow-button{
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: #e6bd43;
    font-weight: bold;
    border: 0;

}
/*Klasse for gul knapp når man hovrer */
.yellow-button:hover{
    background-color: #000000;
    color: #e6bd43;
    transition: 0.3s;
}

/*Forside Mobil Start */
header nav{
    display: flex;
    align-items: center;
    flex-direction: column;
}

header nav img{
    width: 75px;
}

header nav ul{
    display:flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
    text-align: center;

}

nav ul li a{
    color: black;
    text-decoration: none;
}


#home-headline-section{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    text-align: center;
    position: relative;
    background-image:url(img/pen-4337521_1280.jpg);
    background-size: cover;
    background-position: center;
    background-color: #c4bbb0;
    background-blend-mode: lighten;
}
#home-headline-section h1 {
    margin: 10px;
}

#index-Backgroud-video {
    display: none;
}

#home-main-section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    text-align: center;
    padding: 2.5rem;
}

#home-main-section-1 h3 {
    font-size: 1.5rem;
}

#home-main-section-2 {
    display: flex;
    flex-direction: column;
    background-color: #e6bd43;
    align-items: center;
    padding: 2rem;
}

#home-main-section-2 img {
    padding: 1.5rem;
}

#home-main-section-2 article {
    width: 50%
}

#home-main-section-2 article a {
    text-decoration: none;
    padding: 1rem;
    border: 2px;
    border-style: solid;
}

#home-main-section-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

#home-main-section-3 h2 {
    padding: 2rem;
}

.our-services-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    gap: 1.5rem;
}
.our-services-section article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.our-services-section i {
    font-size: 3rem;
}

#home-main-section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #80808029;

}

#home-main-section-4 form input { 
    height: 2.5rem;
}

footer {
    height: 100%;
}

footer nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #252525;
    height: 100%;
    padding: 2rem;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
}

footer nav img {
    width: 75px;
}
footer p {
    color: white;
}

footer ul li i{
    color: white;
    font-size: 3rem;

}

/*Forside mobil slutt */


.Read-more{
    color: #000000;
    margin-top: 25px;
    font-weight: bold;
    word-wrap: break-word;
    display: inline-block;
    max-width: 100%;
}

.Read-more:hover{
    background-color: #000000;
    color: #e6bd43;
    transition: 0.3s;
    
}


/*Portfolioside Mobil start */
.bottom-border {
    border-bottom: 4px solid #e6bd43;
    padding-bottom: 8px;

}

#product-main{
    margin-left: 2rem;
    margin-right: 2rem;
}


#products-headline-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #c4bbbbb0;
    background-image: url(img/pen-4337521_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;

}

#products-main-section-1 {
    text-align: left;
}

#products-main-section-1 hr{
    border: 0;
    height: 3px;
    background-color: #e6bd43;
    margin-bottom: 35px;
}

#products-main-section-1 h2 {
    padding-bottom: 10px;
}


#products-main-section-1 a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #252525;
    padding: 5px 10px;
}

#products-main-section-1 a {
    border: 2px solid #000000; 
}


#product-section-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  #product-section-3 article {
    flex-grow: 2;
    max-width: 692px;
    margin: 10px;
  }
  
  #product-section-3 img {
    width: 100%;
  }

  #product-section-4{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
  }
#product-section-4 article{
    flex-grow: 1;
    max-width: 692px;
    margin: 10px;
}
#product-section-4 img {
    width: 100%;
}
#product-section-5{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#product-section-5 article{
    flex-grow: 1;
    max-width: 692px;
    margin: 10px;

}
#product-section-5 img{
        width: 100%;
    height: auto;
    max-width: 100%;

}

/*Produktseksjon desktop slutt */
  




img {
    max-width: 100%;
    height: auto;
}



i{
    font-size: 2rem;
}





/* About-site */

#about-main-section-1{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(img/pen-4337521_1280.jpg);
    background-size: cover;
    justify-content: center;

}
#about-main-section-1 article{
    width: 70%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #f4efefd1;
}
#about-main-section-1 h2{
    font-size: 6vw;
}

#about-main-section-2{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}
#about-main-section-2 h2{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
#about-main-section-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    background-color: #e6bd43;
    padding-bottom: 2.5rem;
}
#about-main-section-3{
    width: 100%;
    text-align: center;
}
#about-main-section-3 h2{
    width: 100%;
}

#about-main-section-4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4rem;
    background-color: rgba(237, 233, 233, 0.884);
}
#about-main-section-4 h2{
    width: 100%;
    text-align: center;
}
#about-main-section-4 article{
    width: 100%;
    padding: 2rem;
}
#about-main-section-4 article form input{
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    height: 2rem;
}
#input-box{
    display: flex;
    flex-direction: column;
}

#about-main-section-4 ul {
    list-style: none;
    padding: 0;
}

#about-main-section-4 ul li {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

#about-main-section-4 ul li i {
    margin-right: 1rem;
}

iframe{
    width: 100%;
}


header nav ul li a.active{
    font-weight: bold;
}
/*Koden hentet fra ChatGpt.com */
header nav ul li a.active::after {
    content: "";
    display: block;
    height: 2px; 
    background-color: #e6bd43;
}


.product-article-card {
    transition: transform 0.5s ease-in-out; /* Legg til overgangseffekt på transformasjonen */
}

.product-article-card:hover {
    transform: scale(1.05); /* Øk størrelsen med 10% ved hover */
}

#index-Backgroud-video{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.4;
}


@media only screen and (min-width: 600px){
    /*Generelle regler for skjermbredder fra 600px- 1600px Start*/

    body{
        max-width: 1600px;
    }

    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;

    }

    header {
        grid-column: 1 / span 3;
    }
    
    main {
        grid-column: 1 / span 3;
    }

    footer{
        grid-column: 1 / span 3;
    }

    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 1.6rem;
    }
    p{
        font-size: 1rem;
    }
    /*Generelle regler for skjermbredder fra 600px- 1600px Stopp */
    
    .yellow-button{
        text-decoration: none;
        color: black;
        padding: 10px;
        background-color: #e6bd43;
        font-weight: bold;
    
    }
    
    .yellow-button:hover{
        background-color: #000000;
        color: #e6bd43;
        transition: 0.3s;
    }
    
    header nav{
        flex-direction: row;
        justify-content: space-between;
    }
    
    header nav ul{
        gap: 30px;
        flex-direction: row;
    
    }
    /*Forside desktop start*/

    #home-headline-section{
        padding: 1rem;
        background-image:none;
        background-color: transparent;
        height: 350px;
        justify-content: center;
    }
    #home-headline-section p{
        width: 60%;
    }
    #index-Backgroud-video{
        display: block;
    }
    
    #home-main-section-1{
        width: 60%; 
    }
    #home-main-section-1 h3{
        font-size: 1.5rem;
    
    }
    #home-main-section-2{
        flex-direction: row;
    }
    #home-main-section-2 img{
        padding: 0;
    }
    #home-main-section-2 article{
        padding-bottom: 7rem;
        margin-left: 2rem;
    }    
    .our-services-section{
        flex-direction: row;
    }

    #home-section-4 form input{
        height: 2.5rem;
    }
    footer{
    
    }
    footer nav{
        flex-direction: row;
    }
    footer nav img {
        width: 75px;
    }
    /*Forside desktop slutt /*
    

    /*klasse*/
    .Read-more{
        color: #000000;
        margin-top: 25px;
        font-weight: bold;
    }
    
    .Read-more:hover{
        background-color: #000000;
        color: #e6bd43;
        transition: 0.3;
        
    }
    
    
    /*Portfolioside start */
    .bottom-border {
        border-bottom: 4px solid #e6bd43;
        padding-bottom: 8px;
    
    }
    
    
    #product-section-2 hr{
        border: 0;
        height: 3px;
        background-color: #e6bd43;
        margin-bottom: 35px;
    }
    

    /*Produktseksjon desktop slutt */
      
      
    
    
    
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    
    
    i{
        font-size: 2rem;
    }
    
    
    
    
    
    /* About-site */
    
    #about-main-section-1{
        justify-content: flex-end;
    
    }
    #about-main-section-1 article{
        width: 40%;
        padding: 1.5rem;
        margin-right: 3rem;
    }
    #about-main-section-1 h2{
        font-size: 2vw;
    }
    #about-main-section-1 a{
        width: 50%;
        text-align: center;
    }
    
    #about-main-section-3{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 40px;
        background-color: #e6bd43;
        padding-bottom: 2.5rem;
    }
    
    #about-main-section-4{
        flex-direction: row;
    }
    #about-main-section-4 article{
        width: 40%;
        padding: 0;
    }
    #about-main-section-4 article form input{
        height: 2.5rem;
    }
    
    #about-main-section-4 ul li i {
        font-size: 25px;
        margin-right: 1.5rem;
    }
    
    iframe{
        width: 100%;
    }
    
    
    header nav ul li a.active{
        font-weight: bold;
    }
    /*Koden hentet fra ChatGpt.com */
    header nav ul li a.active::after {
        content: "";
        display: block;
        height: 2px; 
        background-color: #e6bd43;
    }
    
    
    .product-article-card {
        transition: transform 0.5s ease-in-out; /* Legg til overgangseffekt på transformasjonen */
    }
    
    .product-article-card:hover {
        transform: scale(1.05); /* Øk størrelsen med 10% ved hover */
    }
    
    #index-Backgroud-video{
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.4;
    }

    #Contact-messagebox{
        max-height: 100%;
    }
    
    #input-box{
        display: flex;
        flex-direction: column;
    }
    #full-row{
        margin-bottom: 0.5rem;
    }



    }
